@charset "utf-8";

body {
	background-color: #000;
}

.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

.content {
	font-size: 18px;
}

.header-page {
	width: 100%;
	min-height: 1000px;
	background-color: #fff;
	background: url(../img/bgmain.webp);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	position: relative;
}

.one-header {
	width: 100%;
	min-height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.one-header__nav, 
.one-header__item:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.one-header__link {
	margin-right: 15px;
	text-decoration: none;
	color: #26272d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	transition: all .3s ease;
}

.one-header__link:nth-child(3) {
	margin-right: 0;
}

.one-header__link:hover {
	opacity: .6;
}

.one-header__link--getapp {
	position: relative;
	width: 132px;
	height: 42px;
	color: #fff;
	text-align: center;
	line-height: 42px;
	border-radius: 21px;
	background-color: #267df4;
}

.one-header__link--getapp::before {
	position: absolute;
	display: block;
	content: url(../img/Apple_Icon.webp);
	transform: translateY(-40%);
	top: 50%;
	left: 10px;
}

.one-header__title {
	text-transform: uppercase;
	font-family: Lato;
	font-weight: 400px;
	color: #26272d;
	font-size: 20px;
}

.one-header__title--span {
	font-family: Lato;
	font-weight: 300;
	font-size: 20px;
}

.one-header__wrap-text {
	margin-top: 202px;
}

.one-header__wrap-text__title {
	text-align: center;
	max-width: 788px;
	color: #26272d;
	font-family: "Varela Round";
	font-size: 62px;
	font-weight: 400;
	line-height: 72px;
	margin: 0 auto;
}

.one-header__wrap-text__paragraph {
	text-align: center;
	max-width: 780px;
	margin-top: 40px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin: 0 auto;
}

.one-header__wrap-btn {
	margin: 62px auto 0 auto;
	max-width: 205px;	
}

.start-video {
	position: relative;
	width: 205px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #26272d;
	color: #26272d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	transition: all .3s ease;
}

.start-video::before {
	position: absolute;
	display: block;
	content: url(../img/Play_Icon.svg);
	transform: translateY(-50%);
	top: 50%;
	left: 25px;
}

.start-video:hover {
	cursor: pointer;
	opacity: .6;
}

.bottom-img {
	position: absolute;
	max-width: 349px;
	width: 55%;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.two-block {
	width: 100%;
	min-height: 600px;
	background-color: #ffffff;
}

.wrap-two-block {
	margin-top: 152px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrap-two-block__item {
	max-width: 410px;
}

.wrap-two-block__item:first-child {
	margin-right: 10%;
}

.wrap-two-block__title {
	margin-top: 45px;
	color: #26272d;
	font-family: Lato;
	font-size: 26px;
	font-weight: 300;
	line-height: 34px;
}

.wrap-two-block__text {
	margin-top: 48px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.your {
	width: 100%;
	min-height: 900px;
	background-color: #edf2ef;
}

.your__wrap {
	padding-top: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.img-your {
	max-width: 600px;
}

.your__title {
	color: #26272d;
	font-family: "Varela Round";
	font-size: 42px;
	font-weight: 400;
	line-height: 52px;
}

.your__text {
	margin-top: 73px;
	max-width: 400px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.your__wrap__btn {
	margin-top: 75px;
}

.your__btn:hover {
	cursor: pointer;
	opacity: .8;
}

.your__btn:first-child {
	position: relative;
	border: none;
	width: 202px;
	height: 42px;
	border-radius: 21px;
	background-color: #267df4;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
}

.your__btn:first-child::before {
	position: absolute;
	display: block;
	right: 20px;
	content: url(../img/Arrow_Icon.svg);
}

.your__btn:last-child {
	background-color: #fff;
	margin-left: 10px;
	border: none;
	width: 202px;
	height: 42px;
	color: #26272d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	border-radius: 21px;
}

.almost {
	width: 100%;
	min-height: 650px;
	background-color: #ffffff;
}

.almost__wrap {
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.almost__title {
	color: #26272d;
	font-family: "Varela Round";
	font-size: 42px;
	font-weight: 400;
	line-height: 52px;
}

.almost__text {
	margin-top: 64px;
	max-width: 450px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.wrap__almost__icon {
	margin-top: 50px;
}

.almost-icon {
	width: 138px;
	height: 35px;
}

.almost-icon:first-child {
	margin-right: 20px;
}

/*.almost__wrap__img {

}*/

.almost-img {
	max-width: 700px;
}

.beautiful {
	width: 100%;
	min-height: 990px;
	background-color: #f5f5f8;
}

.beautiful__wrap__text {
	padding-top: 143px;
}

.beautiful__title {
	position: relative;
	text-align: center;
	color: #26272d;
	font-family: "Varela Round";
	font-size: 42px;
	font-weight: 400;
	line-height: 52px;
}

.beautiful__title::before {
	position: absolute;
	display: block;
	left: 50%;
	bottom: -47px;
	content: "";
	width: 50px;
	height: 2px;
	transform: translateX(-50%);
	border-radius: 1px;
	background-color: #267df4;
}

.beautiful__text {
	margin-top: 92px;
	text-align: center;
	color: #8c8f94;
	font-family: Lato;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}

.beautiful__wrap__full__img {
	margin-top: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.get-it {
	width: 100%;
	min-height: 680px;
	background-color: #f5f5f8;
}

.wrap-getit-text {
	padding-top: 57px;
}

.getit__min-text {
	text-align: center;
	opacity: 0.5;
	color: #3a3d4b;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
}

.getit__title {
	margin-top: 37px;
	text-align: center;
	color: #3a3d4b;
	font-family: "Varela Round";
	font-size: 42px;
	font-weight: 400;
	line-height: 52px;
}

.wrap-getit__input-btn {
	margin: 47px auto 0 auto;
	padding: 2px;
	border: 1px solid silver;
	border-radius: 21px;
	min-width: 300px;
	max-width: 320px;
	margin-top: 51px;
}

.getit__input,
.getit__btn {
	border: none;
}

.getit__btn {
	color: #fff;
	width: 144px;
	height: 42px;
	border-radius: 21px;
	font-size: 16px;
	background-color: #6fc754;
	transition: all .3 ease;
}

.getit__btn:hover {
	cursor: pointer;
	opacity: .7;
}

.getit__input {
	background: transparent;
	width: 163px;
	font-size: 16px;
}

.getit__input[placeholder] {
	padding-left: 10px;
}

.getit__mintext {
	display: block;
	text-align: center;
	margin-top: 70px;
	opacity: 0.3;
	color: #3a3d4b;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

.wrap-getit__two-btn {
	margin-top: 117px;
	text-align: center;
}

.getit__two-btn {
	position: relative;
	display: inline-block;
	width: 210px;
	height: 60px;
	border-radius: 30px;
	background-color: #131315;
	transition: all .3s ease;
}

.getit__two-btn:hover {
	cursor: pointer;
	opacity: .8;
}

.getit__two-btn::before {
	position: absolute;
	content: url(../img/Apple_Logo.svg);
	display: block;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}

.text-two-btn {
	font-size: 16px;
	line-height: 60px;
	color: #fff;
}

.providense {
	width: 100%;
	min-height: 700px;
	background-color: #ffffff;
}

.wrap-providence-slider {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
	padding-top: 50px;
	margin-top: 135px;
}

.providence__slider__wrap-user {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.providence__content-text {
	text-align: center;
}

.providence__title {
	text-align: center;
	margin-top: 70px;
	color: #26272d;
	font-family: Lato;
	font-size: 32px;
	font-weight: 300;
	line-height: 38px;
}

.providence__text {
	margin-top: 45px;
	max-width: 554px;
	height: 76px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.providence__wrap-star {
	margin-top: 30px;
}

.providence__name__item-user {
	margin-top: 60px;
	display: inline-block;
	color: #26272d;
	font-family: Lato;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}

.btn-slider {
	border: none;
	background: transparent;
	transition: all .3s ease;
}

.btn-slider {
	cursor: pointer;
}

.left,
.right {
	width: 22px;
	height: 41px;
	transition: all .2s ease;
}

.left:hover,
.right:hover {
	height: 30px;
}