@charset "utf-8";

body {
	background-color: silver;
}

.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

.content {
	font-size: 18px;
}

.header-page {
	width: 100%;
	min-height: 1000px;
	background-color: #fff;
	background: url(../img/bgmain.webp);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	position: relative;
}

.one-header {
	width: 100%;
	min-height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.one-header__nav, 
.one-header__item:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.one-header__link {
	margin-right: 15px;
	text-decoration: none;
	color: #26272d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	transition: all .3s ease;
}

.one-header__link:nth-child(3) {
	margin-right: 0;
}

.one-header__link:hover {
	opacity: .6;
}

.one-header__link--getapp {
	position: relative;
	width: 132px;
	height: 42px;
	color: #fff;
	text-align: center;
	line-height: 42px;
	border-radius: 21px;
	background-color: #267df4;
}

.one-header__link--getapp::before {
	position: absolute;
	display: block;
	content: url(../img/Apple_Icon.webp);
	transform: translateY(-40%);
	top: 50%;
	left: 10px;
}

.one-header__title {
	text-transform: uppercase;
	font-family: Lato;
	font-weight: 400px;
	color: #26272d;
	font-size: 20px;
}

.one-header__title--span {
	font-family: Lato;
	font-weight: 300;
	font-size: 20px;
}

.one-header__wrap-text {
	margin-top: 202px;
}

.one-header__wrap-text__title {
	text-align: center;
	max-width: 788px;
	color: #26272d;
	font-family: "Varela Round";
	font-size: 62px;
	font-weight: 400;
	line-height: 72px;
	margin: 0 auto;
}

.one-header__wrap-text__paragraph {
	text-align: center;
	max-width: 780px;
	margin-top: 40px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin: 0 auto;
}

.one-header__wrap-btn {
	margin: 62px auto 0 auto;
	max-width: 205px;	
}

.start-video {
	position: relative;
	width: 205px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #26272d;
	color: #26272d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	transition: all .3s ease;
}

.start-video::before {
	position: absolute;
	display: block;
	content: url(../img/Play_Icon.svg);
	transform: translateY(-50%);
	top: 50%;
	left: 25px;
}

.start-video:hover {
	cursor: pointer;
	opacity: .6;
}

.bottom-img {
	position: absolute;
	max-width: 349px;
	width: 55%;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.two-block {
	width: 100%;
	min-height: 600px;
	background-color: #ffffff;
}

.wrap-two-block {
	margin-top: 152px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.wrap-two-block__item {
	max-width: 410px;
	margin: 0 auto;
}

.wrap-two-block__title {
	margin-top: 45px;
	color: #26272d;
	font-family: Lato;
	font-size: 26px;
	font-weight: 300;
	line-height: 34px;
}

.wrap-two-block__text {
	margin-top: 48px;
	color: #8c8f94;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}