@media (min-width: 1000px) and (max-width: 1365px)
	.header-page__logo
		padding-left: 20px

	.header-page-menu
		padding-right: 20px

	.about-us__img
		max-width: 400px

	.our-focus-flex-wrap-boxes
		justify-content: center
		.box
			padding: 50px 55px
			margin: 15px

	.our-team-wrap-block .block
		margin: 15px
	
	.work-wrap-flex__hidden
		min-width: 400px
		min-height: 250px
		.title
			padding-bottom: 20px

	.work-wrap-flex__item:nth-child(even) .work-wrap-flex__hidden
		left: 100%

	.work-wrap-flex__item:nth-child(odd) .work-wrap-flex__hidden
		left: 0%

	.pricing-wrap-flex .pricing-wrap-flex-item
		padding: 35px 40px

	.testimonials-wrap-flex
		flex-direction: column

	.testimonials-wrap-flex__img
		max-width: 500px
		max-height: 500px

	.blog-flex-wrap-figure
		display: flex
		flex-direction: column
		justify-content: center

	.blog-flex-wrap-content-item:not(:last-child)
		margin-bottom: 15px

@media (min-width: 750px) and (max-width: 999px)