@charset "utf-8"
@import reset.css
@import "fonts"

$transition: all .3s ease

.inner-container
	max-width: 1366px
	margin: 0 auto
	padding: 0 15px

//header-page
.header-page
	background-color: #fff
	padding: 30px 0
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.25)
	.inner-container
		display: flex
		align-items: center
		justify-content: space-between

.header-page__logo
	font-family: Script
	font-size: 35px
	color: #616161
	font-weight: 400
	line-height: 27px
	&:first-letter
		color: #fc5f45

.header-page-menu
	display: flex
	align-items: center
	justify-content: center

.header-page-menu__link
	margin: 7.5px
	font-family: Poppins
	font-size: 14px
	font-weight: 500
	line-height: 27px
	color: #272727
	opacity: .8
	transition: $transition
	&:hover
		color: #000
		cursor: pointer
		opacity: 1
//header-page

//one-screen
.one-screen
	background: url('../img/home-bg/background-image2.webp')
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	padding: 175px 0
	.inner-container
		text-align: center
		button
			border-radius: 25px
			border: none
			background-color: #fc5f45
			padding: 15px 35px
			color: #fff
			font-family: Poppins
			font-size: 16px
			font-weight: 400
			text-transform: uppercase
			transition: $transition
			&:hover
				cursor: pointer
				background: linear-gradient(-45deg, #5eabab, #a62893)

.one-screen__title
	margin: 0 auto
	width: 818px
	color: #ffffff
	font-family: Libre
	font-size: 60px
	font-weight: 400
	padding-bottom: 50px

.one-screen-wrap-flex-icons
	display: flex
	align-items: center
	justify-content: space-around
	padding-top: 100px
	span
		display: block
		padding-top: 35px
		font-family: Poppins
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
	.item
		width: 30%
		text-align: center
		&:nth-child(1)
			color: #38c695
		&:nth-child(2)
			color: #b27cf5
		&:nth-child(3)
			color: #feb960
//one-screen

//about us
.about-us	
	background-color: #fff
	padding: 150px 0
	font-family: Libre
	.inner-container
		display: flex
		align-items: center
		justify-content: space-around

.about-us__img
	max-width: 444px
	max-height: auto
	img
		width: 100%

.about-us-content
	max-width: 750px
	max-height: 750px
	padding: 50px 70px
	position: relative
	background-color: #fff
	&::after
		position: absolute
		display: block
		content: "01"
		top: -100px
		left: -10px
		opacity: 0.3
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px

.about-us-content__title
	color: #313131
	font-size: 50px
	font-weight: 700
	padding-bottom: 45px

.about-us-content__text
	max-width: 500px
	color: #616161
	font-family: Poppins
	font-size: 15px
	font-weight: 400
	line-height: 20px
	&:nth-child(2)
		padding-bottom: 45px

.about-us-content-foo-color
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 3px
	display: flex

.item-color
	width: 25%
	height: 3px
	&:nth-child(1)
		background-color: #fc5f45
	&:nth-child(2)
		background-color: #38c695
	&:nth-child(3)
		background-color: #b27cf5
	&:nth-child(4)
		background-color:  #feb960
//about us

//our-focus
.our-focus
	position: relative
	background-color: #f7f7f7
	text-align: center
	&:before
		position: absolute
		display: block
		content: "02"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		padding: 150px 0

.our-focus__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 40px

.our-focus__text
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	max-width: 550px
	margin: 0 auto
	padding-bottom: 80px

.our-focus-flex-wrap-boxes
	display: flex
	align-items: center
	justify-content: space-around
	flex-wrap: wrap
	.box
		background-color: #fff
		padding: 50px 35px
		position: relative
		&:nth-child(1)::after
			position: absolute
			display: block
			bottom: 0
			left: 0
			content: ""
			width: 100%
			height: 3px
			background-color: #fc5f45

		&:nth-child(2)::after
			position: absolute
			display: block
			bottom: 0
			left: 0
			content: ""
			width: 100%
			height: 3px
			background-color: #38c695

		&:nth-child(3)::after
			position: absolute
			display: block
			bottom: 0
			left: 0
			content: ""
			width: 100%
			height: 3px
			background-color: #b27cf5

		&:nth-child(4)::after
			position: absolute
			display: block
			bottom: 0
			left: 0
			content: ""
			width: 100%
			height: 3px
			background-color: #feb960

		&svg
			padding-bottom: 300px

		&__title
			color: #313131
			font-family: Poppins
			font-size: 20px
			font-weight: 500
	
		&__text
			max-width: 196px
			color: #616161
			font-family: Poppins
			font-size: 15px
			font-weight: 400
			line-height: 25px
//our-focus

//explore
.explore
	font-family: Poppins
	text-align: center
	padding: 150px 0
	background: url("../img/explore-bg/background_image.webp")
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	.inner-container
		padding: 0

.explore__title
	color: #ffffff
	font-size: 30px
	font-weight: 400

.explore-svg
	margin: 40px auto

.explore__text
	display: block
	color: #ffffff
	font-size: 15px
	font-weight: 400
//explore

//portfolio
.portfolio
	background-color: #fff
	text-align: center
	position: relative
	&::before
		position: absolute
		display: block
		content: "03"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		padding: 150px 0

.portfolio__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 40px

.portfolio__text
	max-width: 550px
	margin: 0 auto
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 80px

.portfolio-flex-boxes
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: center
	.box
		margin: 20px
		max-width: 360px
		max-height: 288px
		transition: $transition
		&:hover
			box-shadow: 0 0 15px silver
		img
			width: 100%
			height: 100%
//portfolio

//our-team
.our-team
	background-color: #f7f7f7
	text-align: center
	position: relative
	&::before
		position: absolute
		display: block
		content: "04"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		padding: 140px 0

.our-team__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 40px

.our-team__text
	max-width: 550px
	margin: 0 auto
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 80px

.our-team-wrap-block
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	.block
		margin: 0 15px
		font-family: Poppins
		text-align: center
		max-width: 265px
		max-height: 390px
		background-color: #fff
		img
			padding-bottom: 15px

.block__title
	font-size: 18px
	font-weight: 500
	padding-bottom: 15px
	color: #000

.block:nth-child(1) .block__title
	color: #fc5f45

.block:nth-child(2) .block__title
	color: #38c695

.block:nth-child(3) .block__title
	color: #b27cf5

.block:nth-child(4) .block__title
	color: #feb960

.block__text
	font-size: 13px
	font-weight: 400
	padding-bottom: 20px
	color: #616161

.block-bottom-line
	bottom: 0
	left: 0
	display: block
	width: 100%
	height: 3px
	background-color: red

.block:nth-child(1) .block-bottom-line
		background-color: #fc5f45

.block:nth-child(2) .block-bottom-line
		background-color: #38c695

.block:nth-child(3) .block-bottom-line
		background-color: #b27cf5

.block:nth-child(4) .block-bottom-line
		background-color: #feb960
//our-team

//bg-of-our-team
.bg-of-our-team
	background: url('../img/team-bg/Layer_24.webp')
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	.inner-container
		padding: 145px 0

.bg-of-our-team-flex-wrap
	display: flex
	align-items: center
	justify-content: space-around
	font-family: Poppins
	.item
		text-align: center

		span
			display: block

		.item__title
			display: block
			color: #fefefe
			font-size: 20px
			font-weight: 500
			padding: 30px 0

		.item__text
			opacity: 0.7
			color: #fefefe
			font-size: 15px
			font-weight: 400
			padding-bottom: 40px
//bg-of-our-team

//work
.work
	position: relative
	background-color: #fff
	padding: 150px 0
	&::before
		position: absolute
		display: block
		content: "05"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-conatiner
		text-align: center

.work__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 30px

.work__text
	max-width: 550px
	margin: 0 auto
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 130px

.work-wrap-flex
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.work-wrap-flex__item
	position: relative
	min-width: 556px
	min-height: 300px
	img
		width: 100%
		height: 100%

.work-wrap-flex__hidden
	position: absolute
	background-color: #fff
	padding: 40px 10px 40px 100px
	opacity: .9
	width: 400px
	height: 250px
	font-family: Poppins
	text-align: left
	left: -50%
	top: 0
	.title
		color: #272727
		font-size: 25px
		font-weight: 400
		padding-bottom: 25px
	.text
		max-width: 261px
		margin: 0 auto
		color: #616161
		font-size: 15px
		font-weight: 400

.work-wrap-flex__item:nth-child(1) .work-wrap-flex__hidden
		border-bottom: #fc5f45 3px solid
		&:before
			position: absolute
			display: block
			content: "01"
			left: 10px
			top: 10px
			color: #e0e0e0
			font-family: Libre
			font-size: 50px
			font-weight: 700
			text-transform: uppercase

.work-wrap-flex__item:nth-child(2) .work-wrap-flex__hidden
		border-bottom: #38c695 3px solid
		&:before
			position: absolute
			display: block
			content: "02"
			left: 10px
			top: 10px
			color: #e0e0e0
			font-family: Libre
			font-size: 50px
			font-weight: 700
			text-transform: uppercase

.work-wrap-flex__item:nth-child(3) .work-wrap-flex__hidden
		border-bottom: #b27cf5 3px solid
		&:before
			position: absolute
			display: block
			content: "03"
			left: 10px
			top: 10px
			color: #e0e0e0
			font-family: Libre
			font-size: 50px
			font-weight: 700
			text-transform: uppercase

.work-wrap-flex__item:nth-child(4) .work-wrap-flex__hidden
		border-bottom: #feb960 3px solid
		&:before
			position: absolute
			display: block
			content: "04"
			left: 10px
			top: 10px
			color: #e0e0e0
			font-family: Libre
			font-size: 50px
			font-weight: 700
			text-transform: uppercase
//work

//pricing
.pricing
	position: relative
	background-color:  #f7f7f7
	padding: 145px 0
	&::before
		position: absolute
		display: block
		content: "06"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		text-align: center

.pricing__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 30px

.pricing__text
	max-width: 550px
	margin: 0 auto
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 75px

.pricing-wrap-flex
	display: flex
	align-items: center
	justify-content: center
	.pricing-wrap-flex-item
		margin: 0 15px
		background-color: #fff
		max-width: 660px
		max-height: 670px
		padding: 45px 50px
		button
			border-radius: 25px
			padding: 15px 40px
			font-size: 16px
			font-family: Poppins
			background-color: transparent
			transition: $transition
		&:nth-child(1)
			border-top: 3px solid #38c695
			button
				border: 2px solid #38c695
				color: #38c695
				&:hover
					cursor: pointer
					background-color: #38c695
					color: #fff
		&:nth-child(2)
			border-top: 3px solid #fc5f45
			button
				border: 2px solid #fc5f45
				color: #fc5f45
				&:hover
					cursor: pointer
					background-color: #fc5f45
					color: #fff
		&:nth-child(3)
			border-top: 3px solid #b27cf5
			button
				border: 2px solid #b27cf5
				color: #b27cf5
				&:hover
					cursor: pointer
					background-color: #b27cf5
					color: #fff

.pricing-wrap-flex-item__title
	display: block
	color: #313131
	font-family: Poppins
	font-size: 20px
	font-weight: 500
	padding-bottom: 30px

.pricing-wrap-flex-item-circle
	position: relative
	width: 105px
	height: 105px
	border-radius: 50%
	margin: 0 auto 45px auto
	line-height: 105px
	font-family: Poppins
	font-size: 14px
	color: #fff
	letter-spacing: 1px

.pricing-wrap-flex-item:nth-child(1) .pricing-wrap-flex-item-circle
		background-color: #38c695
		&::before
			position: absolute
			display: block
			content: ""
			width: 117px
			height: 117px
			background-color: transparent
			border: 3px solid #38c695
			border-radius: 50%
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.pricing-wrap-flex-item:nth-child(2) .pricing-wrap-flex-item-circle
		background-color: #fc5f45
		&::before
			position: absolute
			display: block
			content: ""
			width: 117px
			height: 117px
			background-color: transparent
			border: 3px solid #fc5f45
			border-radius: 50%
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.pricing-wrap-flex-item:nth-child(3) .pricing-wrap-flex-item-circle
		background-color: #b27cf5
		&::before
			position: absolute
			display: block
			content: ""
			width: 117px
			height: 117px
			background-color: transparent
			border: 3px solid #b27cf5
			border-radius: 50%
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
.pricing-wrap-flex-item__list
	padding-bottom: 40px	
	ul 
		li
			padding: 10px 0
//pricing

//testimonials
.testimonials
	position: relative
	background-color: rgba(38, 39, 50, 0.85)
	padding: 145px 0
	&::before
		position: absolute
		display: block
		content: "07"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		text-align: center

.testimonials__title
	color: #ffffff
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 40px

.testimonials__text
	max-width: 550px
	margin: 0 auto
	color: #ffffff
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 80px

.testimonials-wrap-flex
	display: flex
	align-items: center
	justify-content: center

.testimonials-wrap-flex__img
	max-width: 350px
	max-height: 350px
	img
		width: 100%
		height: 100%

.testimonials-wrap-flex-content
	position: relative
	text-align: left
	background-color: #fff
	max-width: 850px
	max-height: 350px
	padding: 45px 80px
	border-bottom: 3px solid #fc5f45
	&::before
		position: absolute
		display: block
		content: "“"
		top: -30px
		left: -10px
		opacity: 0.3
		color: #e0e0e0
		font-family: Libre
		font-size: 338px
		font-weight: 700
	span
		display: block

.testimonials-wrap-flex-content__text
	color: #616161
	font-family: Poppins
	font-size: 15px
	font-weight: 400

.testimonials-wrap-flex-content__text2
	color: #272727
	font-family: Script
	font-size: 40px
	font-weight: 400
	padding: 15px 0 15px 0

.testimonials-wrap-flex-content__text3
	color: #272727
	font-family: Poppins
	font-size: 18px
	font-weight: 500
	padding: 5px 0 5px 0

.testimonials-wrap-flex-content__text4
	color: #fc5f45
	font-family: Poppins
	font-size: 13px
	font-weight: 400
	padding: 5px 0 5px 0

.testimonials-wrap-flex-content-btn-slide
	position: absolute
	bottom: -30px
	right: 0
	display: flex
	align-items: center
	justify-content: center
	.item-btn-slide
		margin: 0 3px
		width: 18px
		height: 18px
		background-color: transparent
		border: 3px solid #fc5f45
		border-radius: 50%
		transition: $transition
		&:hover
			cursor: pointer
			background-color: #fc5f45
//testimonials

//select
.select
	position: relative
	background-color: #fff
	padding: 145px 0
	&::before
		position: absolute
		display: block
		content: "08"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		text-align: center

.select__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 30px

.select__text
	margin: 0 auto
	max-width: 550px
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 80px

.select-wrap-flex
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	padding-bottom: 150px

.select-wrap-flex-item
	max-width: 400px
	padding: 30px
	margin: 10px
	font-family: Poppins
	text-align: left
	span
		display: inline-block

.select-wrap-flex-item-top
	display: flex
	align-items: flex-start

.select-wrap-flex__title
	color: #272727
	font-size: 18px
	font-weight: 500
	padding-left: 15px

.select-wrap-flex-item__text
	color: #616161
	font-size: 15px
	font-weight: 400
	padding-top: 20px
	display: block

.select-wrap-bottom
	text-align: center
	font-family: Poppins

.select-wrap-bottom__text
	color: #272727
	font-size: 25px
	font-weight: 400
	padding-right: 25px

.select-wrap-bottom button
	color: #ffffff
	font-size: 16px
	font-weight: 400
	text-transform: uppercase
	border-radius: 25px
	background-color: #fc5f45
	padding: 20px 40px
	border: none
	transition: $transition
	&:hover
		cursor: pointer
		color: #000
		background-color: #38c695
//select

//blog
.blog
	position: relative
	background-color: #f7f7f7
	padding: 145px 0
	&::before
		position: absolute
		display: block
		content: "09"
		opacity: 0.3
		top: -100px
		left: 50%
		transform: translateX(-50%)
		color: #e0e0e0
		font-family: Poppins
		font-size: 274px
	.inner-container
		text-align: center

.blog__title
	color: #313131
	font-family: Libre
	font-size: 50px
	font-weight: 700
	padding-bottom: 30px

.blog__text
	max-width: 550px
	margin: 0 auto
	color: #616161
	font-family: Poppins
	font-size: 18px
	font-weight: 400
	padding-bottom: 75px
//blog