@charset 'utf-8';

body {
	background-color: #000;
}

.wrapper {
	background-color: red;
	max-width: 1970px;
	width: 100%;
	margin: 0 auto;
}

.head-block {
	width: 100%;
	min-height: 1100px;
	background: url(../img/onebg.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #fff;
}

.header-page {
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.wrap-logo {
	width: 120px;
	height: 120px;
	padding: 5px;
	border: 3px solid #fff;
	border-radius: 70px;
	line-height: 110px;
	text-align: center;
	transition: all .8s ease-in-out;

	animation: logo 4s linear infinite;
}

@keyframes logo {
	0% {
		border: 3px solid #fff;
	}

	20% {
		border: 3px solid red;
	}

	40% {
		border: 3px solid yellow;
	}

	60% {
		border: 3px solid green;
	}

	80% {
		border: 3px solid pink;
	}

	100% {
		border: 3px solid purple;
	}
}

.wrap-logo:hover {
	transform: rotate(720deg);
	cursor: pointer;
}

.logo {
	color: #fff;
	font-family: "Open Sans - Semibold";
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-page__ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-page__li {
	list-style-type: none;
}

.header-page__link {
	margin: 0 13px;
	text-decoration: none;
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	line-height: 80px;
	text-transform: uppercase;
	transition: all .2s ease;
}

.header-page__link:hover {
	cursor: pointer;
	color: #0d0d0d;
}

.slech-span {
	color: #fff;
}

.head-block__content {
	text-align: center;
	max-width: 1039px;
	height: 172px;
	margin: 200px auto 0 auto;
}

.head-block__content__title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 70px;
	font-weight: 300;
	text-transform: uppercase;
}

.head-block__content__span {
	font-family: "Open Sans";
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -0.2px;
	line-height: 80px;
}

.head-block__content__text {
	font-family: "Open Sans Light";
	color: #ffffff;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -2.4px;
	line-height: 60px;
}

.wrap-head-block__content__btn {
	margin: 100px auto 0 auto;
}

.head-block__btn {
	border: none;
	width: 170px;
	height: 49px;
	background-color: #f39c12;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all .2s ease;
}

.head-block__btn:hover {
	cursor: pointer;
	opacity: .8;
}

.wrap-slide-btn-head-block {
	margin: 145px auto 0 auto;
}

.head-block__slide-btn {
	padding: 3px;
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 50px;
	transition: all .2s ease;
}

.head-block__slide-btn:nth-child(2) {
	margin: 0 6px;
}

.head-block__slide-btn:hover {
	cursor: pointer;
	background-color: gray;

}