@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap');
@charset 'utf-8';
@import "reset.css";
@import "animation.css";
@font-face {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #000;
}

.wrapper {
	background-color: #fff;
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
}

.title-section {
	width: 100%;
} 

.header-page {
	width: 100%;
	height: 75px;
	background-color: rgba(61, 11, 22, 0.9);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.wrap-logo {
	margin-left: 10px;
	padding: 5px;
}

.logo {
	color: orange;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.logo:hover {
	cursor: pointer;
	color: #24d13e;
}

.navigation {
	padding: 3px;
}

.header-page__ul {
	margin: 0 3px;
}

.header-page__li {
	list-style-type: none;
}

.header-page__link {
	padding: 5px 8px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-size: 16px;
	color: #d3edec;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.header-page__link:hover {
	cursor: pointer;
	background-color: #ebf5ee;
	color: #000;
}

.header-page__link:nth-child(2) {
	margin: 0 5px;
}

.wrap-logout {
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.wrap-btn-off-on {
	display: flex;
	align-items: center;
	justify-content: center;
}

.on,
.off {
	width: 60px;
	height: 27px;
	text-align: center;
	line-height: 29px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	border: none;
	transition: all .3s ease;
}

.on:hover,
.off:hover {
	cursor: pointer;
}

.on {
	color: #fff;
	background-color: #000;
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px;
}

.off {
	color: #000;
	background-color: #fff;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
}

.link-log-in {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-size: 13px;
	color: #d3edec;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.link-log-in:hover {
	color: #fff;
}

.content-metabolism {
	background-color: #fff;
	padding: 30px 10px 60px 10px;
}

.content-matabolism__wrap {
	max-width: 70%;
	margin: 30px auto 0 auto;
}

.content-metabolism__title,
.content-metabolism__h3-title,
.content-metabolism__text {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.content-metabolism__title,
.content-metabolism__h3-title {
	margin: 15px 0;
}

.content-metabolism__title {
	font-size: 25px;
}

.content-metabolism__h3-title {
	font-size: 20px;
}

.content-metabolism__text {
	margin-top: 20px;
	font-size: 18px;
	line-height: 22px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none; 
}

.calc-metabolism {
	position: relative;
	width: 100%;
	min-height: 700px;
	background-image: url(../img/bg/bg-velosport.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wrap-calc-metabolism-form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.metabolism-form {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: rgba(40, 20, 20, 0.7);
	border-radius: 15px;
	width: 450px;
	height: 350px;
}

.progress {
	background-color: silver;
	margin-bottom: 8px;
	color: pink;
	overflow: hidden;
 	border: 0;
 	width: 200px;
  	height: 20px;
  	border-radius: 10px;
}

.input-form,
.input-select {
	margin: 8px 0;
	width: 200px;
	height: 40px;
	border: none;
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.input-form:hover {
	opacity: .9;
}

.input-form:focus {
	box-shadow: inset 0 0 5px purple;
}

.input-form[placeholder] {
	color: #000;
	padding-left: 7px;
	font-size: 12px;
} 

.form-wrap-btn {
	margin-top: 10px;
	display: -webkit-box;
	display: flex;
}

.btn-form {
	color: #000;
	border: none;
	width: 95px;
	height: 40px;
	font-size: 14px;
}

.reset {
	border-bottom-right-radius: 45px;
	border-top-right-radius: 45px;
	background-color: red;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.reset:hover {
	cursor: pointer;
	background-color: purple;
	color: #fff;
}

.submit {
	border-bottom-left-radius: 45px;
	border-top-left-radius: 45px;
	background-color: yellow;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.submit:hover {
	cursor: pointer;
	background-color: blue;
	color: #fff;
}

.result {
	overflow: hidden;
	opacity: 0;
	position: absolute;
	z-index: -100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: 350px;
	border-radius: 5px;
	background-color: #121012;
	transition: all .5s ease;
}

.result:hover {
	cursor: pointer;
}

.inner-res:nth-child(2) {
	margin-top: 120px;
}

.inner-res {
	position: relative;
	padding-right: 90px;
	margin-top: 5px;
	text-align: right;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

.inner-res:nth-child(2)::after {
	position: absolute;
	display: block;
	content: "По формуле Маффина:";
	left: 15%;
	top: 0px;
}

.inner-res:nth-child(3)::after {
	position: absolute;
	display: block;
	content: "По формуле Ткаченко:";
	left: 15%;
	top: 0px;
}

.inner-res:nth-child(4)::after {
	position: absolute;
	display: block;
	content: "По формуле Харриса:";
	left: 15%;
	top: 0px;
}

.inner-res:nth-child(5)::after {
	position: absolute;
	display: block;
	left: 15%;
	top: 0px;
	content: "По формуле Колемана:";
}

.title-result {
	position: absolute;
	width: 100%;
	top: 28px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-decoration: underline;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.close {
	position: absolute;
	width: 100%;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

.up {
	display: none;
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 101;
	bottom: 40px;
	left: 40px;
	color: #000;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 30px;

	animation: up linear infinite 2s;
}

.up:hover {
	cursor: pointer;
}

@keyframes up {
	0% {
		background-color: purple;
	}

	50% {
		background-color: pink;
	}

	100% {
		background-color: yellow;
	}
}

.footer {
	width: 100%;
	height: 50px;
	background-color: #162124;
}

.address {
	color: #d1e5eb;
	text-align: center;
	line-height: 50px;
}